*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid purple;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto',
        sans-serif;
    background-image: url(../images/wave.svg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-size: 1.6rem;
}
