$insta-1: #fdf497;
$insta-2: #fd5949;
$insta-3: #d6249f;
$insta-4: #285AEB;

$color-white: #fff;


$btn-gradient-1: #f6d365;
$btn-gradient-2: #fda085;
$btn-gradient-3: #84fab0;
$btn-gradient-4: #8fd3f4;