.side-image {
    position: fixed;
    bottom: 5rem;
    left: 0;
    height: 70%;
    z-index: -1;
}

.form-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 11rem;
    padding: 0 3rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-container__login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.form-container__title {
    background: radial-gradient(circle at 30% 135%,
            $insta-1 0%, $insta-1 5%,
            $insta-2 45%, $insta-3 60%, $insta-4 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Freckle Face', cursive;
}

.img img {
    width: 50rem;
}

form {
    width: 36rem;
}

.form-container__login {
    img {
    height: 10rem;
    }

    h2 {
        margin: 1.5rem 0;
        color: #333;
        text-transform: uppercase;
        font-size: 4rem;
    }

    .input-div {
        position: relative;
        display: grid;
        grid-template-columns: 7% 93%;
        margin: 2.5rem 0;
        padding: .5rem 0;
        border-bottom: 2px solid #d9d9d9;
    }

    .input-div.one {
        margin-top: 0;
    }

}


.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 4.5rem;
}

.input-div>div>h5 {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 2rem;;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 1.5rem;
}

.input-div.focus>.i>i {
    color: #38d39f;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.6rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 1.5rem;
    transition: .3s;
}

a:hover {
    color: #38d39f;
}

.btn {
    display: block;
    width: 100%;
    height: 5rem;
    border-radius: 2.5rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, $btn-gradient-1 0%, $btn-gradient-2 51%, $btn-gradient-1 100%);
    background-size: 200%;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1.6rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}

@media screen and (max-width: 1050px) {
    .form-container {
        grid-gap: 7rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 30rem;
    }

    .form-container__login h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 25rem;
    }
}

@media screen and (max-width: 900px) {
    .form-container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .side-image {
        display: none;
    }

    .form-container__login {
        justify-content: center;
    }
}